*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0,0,0);
}

.sign-in-btn{
    border: 1px solid rgb(229, 9, 20);
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 1.2rem ;
    font-weight: 500;
    width: 5em;
    border-radius: .5rem;
}
.top-left-img{
    height: 8rem;

}
.first-section{
    background-image: url("../img/bg.jpg");
    height:202px;
    background-repeat: no-repeat;
    background-size: cover;
    /* aspect-ratio: 1/1; */
    max-width: 100%;
    height: auto;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}
p{
    color: #fff;
    font-size: 1.8rem;
}
.get-started-btn{
    border: 1px solid rgb(229, 9, 20);
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 1.2rem ;
    font-weight: 800;
    width: 10rem;
}
.get-started-input{
    height: 3rem;
    background-color: transparent;
    opacity: .9;
    color: aliceblue;
}